# Gradle files
.gradle
/local.properties
/.gradle
/build/

# Android Studio/IntelliJ IDEA files
.idea/
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# macOS-specific files
.DS_Store

# Captures (screenshots/videos taken with Android Studio)
captures/

# NDK files
.externalNativeBuild
.cxx/

# Miscellaneous
*.iml
*.hprof